<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">

      <a class="navbar-brand active" [routerLink]="['']" ><strong style="font-size: 130%; padding: 0 0 0 0; margin: 0 0 0 0">eOffice</strong></a>

      <!-- <ul *ngIf="!loggedIn()" class="navbar-nav mr-auto">
      <a  class="navbar-brand" [routerLink]="['timesheet-login']" >Logowanie</a>
      </ul> -->

      <ul *ngIf="loggedIn() && getRole() !== 0" class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-item" [routerLink]="['/workers']"  >Panel pracownika</a>
        </li>
        <!-- <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/schedule']" >Terminarz</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/messages']"  >Wiadaomości</a>
        </li> -->
      </ul>

      <div *ngIf="loggedIn()" class="dropdown" dropdown>
        <a class="dropdown-toggle text-light"  dropdownToggle>
          Witaj, {{authService.dekodedToken?.unique_name}}
        </a>
        <div class="dropdown-menu" mt-3 *dropdownMenu>
          <a *ngIf="!isOwner()" class="dropdown-item" (click)="editProfile()"><i class="fa fa-user"></i>Edytuj profil</a>
          <div *ngIf="!isOwner()" class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i>Wyloguj się</a>
        </div>
      </div>

      <ul *ngIf="!loggedIn()" class="form-inline my-2 my-lg-0">
          <a  class="navbar-brand" [routerLink]="['timesheet-login']" >Logowanie</a>
      </ul>

  </div>


</nav>

