.popup-worker-login {
    background-color: white;
    width: auto;
    max-width: 500px;
    height: auto;
    margin: auto;
    margin-top: 5%;

}

.button-worker-login {
    border-radius: 10px;
    margin-left: 45px;
    border: solid 3px white;
    padding: 10px 10px 10px 10px;
    width: 90px;
}



.login-color-in{
    background-color: rgb(51, 168, 51);
    color: white;
}

.login-color-in:hover {
    cursor: pointer !important;
    border-color:  rgb(22, 177, 22);
}

.login-color-out{
    background-color: rgb(168, 51, 51);
    color: white;
}

.login-color-out:hover {
    cursor: pointer !important;
    border-color:  rgb(167, 34, 34);
}


.button-worker-login p{
    margin-bottom: 0;
    margin-top: 5px;
    margin-left: 0;
    font-size: 85%;
    text-align: center;
}

.button-worker-login i{
    margin-left: 20px;
}

.button-worker-login-text-small{
    font-size: 85%;
}


